<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="callSettersOnNulls" value="true" />
    <setting name="cacheEnabled" value="false" />
<!--     <setting name="mapUnderscoreToCamelCase" value="true"/> -->
  </settings>
  <typeAliases>
   <typeAlias type="com.netMiner.app.model.vo.MemberVo" alias="MemberVo"/>
   <typeAlias type="com.netMiner.app.model.vo.NationVo" alias="NationVo"/>
   <typeAlias type="com.netMiner.app.model.vo.MailVo" alias="MailVo"/>
   <typeAlias type="com.netMiner.app.model.vo.AdminVo" alias="AdminVo"/>
   <typeAlias type="com.netMiner.app.model.vo.BillingVo" alias="BillingVo"/>
  </typeAliases>
  <mappers>
    <mapper resource="/mapper/Member.xml"/>
    <mapper resource="/mapper/Select.xml"/>
    <mapper resource="/mapper/Admin.xml"/>
     <mapper resource="/mapper/Billing.xml"/>
  </mappers>
</configuration>